@import url("https://fonts.googleapis.com/css?family=Titillium+Web:900");
@import url("https://fonts.googleapis.com/css?family=Mr+Dafoe");
.top-title {
  margin: 3% 0 80px 30px; }

.top-title .vintage {
  text-transform: uppercase;
  position: relative;
  background-image: -webkit-linear-gradient(#dff3fd 0%, #B6E8F1 46%, #ffffff 50%, #32120E 54%, #FFC488 58%, #582C11 90%, #EC9B4E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px #f5f5f5;
  font-size: 100px;
  font-family: 'Titillium Web', sans-serif;
  font-style: italic;
  margin: 0;
  line-height: 1; }

.top-title .vintage:before {
  content: attr(data-content);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  background-image: -webkit-linear-gradient(-40deg, transparent 0%, transparent 40%, #fff 50%, transparent 60%, transparent 100%);
  background-position: -460px 0;
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px white;
  padding-right: 135px;
  -webkit-animation-name: reflection_effect;
  -webkit-animation-duration: 6s;
  -webkit-animation-delay: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite; }

.top-title .neon {
  position: absolute;
  font-family: 'Mr Dafoe', cursive;
  font-size: 90px;
  color: #F975F7;
  transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  margin: -70px 0 0 630px;
  -webkit-text-stroke: 1px #f008b7;
  -webkit-filter: drop-shadow(2px 2px 20px #f008b7);
  z-index: 20; }

@keyframes reflection_effect {
  0% {
    background-position: -460px 0; }
  10% {
    background-position: 350px 0; }
  100% {
    background-position: 350px 0; } }
