@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

$roboto-slab: 'Roboto Slab', serif;
$border-color: #F975F7;
$border-card: gray;
$border-size: 3px;
$background-color: #ffffff60;
$font-color: #fff;
